  <ion-content padding center text-center>
    <ion-title>K.A.P.A</ion-title>
    <!-- Inputs with labels -->
    <ion-list>
      <ion-item>
        <!-- <ion-label></ion-label> -->
        <ion-input  placeholder="User Name"></ion-input>
      </ion-item>
      
      <ion-item>
        <!-- <ion-label  placeholder="User Name"></ion-label> -->
        <ion-input  placeholder="Password" type="Password"></ion-input>
      </ion-item>
      
      <ion-item>
        <!-- <ion-label >Password:</ion-label> -->
        <ion-input  placeholder="Email Address"></ion-input>
      </ion-item>
      
      <ion-item>    
          <ion-route>
            <p>password</p>
          </ion-route>
          <p style="padding-left: 2px;">Don't have an Account?</p>
        <a href="https://example.com" style="padding-left: 2px;">Sign Up</a>
      </ion-item>
    </ion-list>
    
    <ion-button full size="medium">Sign In</ion-button>
  
    </ion-content>



  

